*{
	margin: 0px;
	padding: 0px;
	
	background-color: coral;
	color: white;
	font-size: 18px;
	font-family: tahoma;
}

nav {
		display: flex;
		justify-content: space-around;
		align-items: center;	
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #cac;
		min-height: 8vh;
}




.nav-links{

		display: flex;
		width: 500;
		justify-content: space-around;
	}

.nav-links a{
	text-decoration: none;
	color: rgb(230, 255, 255);
}

.nav-links li{
	list-style: none;
}

.toggler{

		display: none;
		cursor: pointer;
}

@media screen and (max-width: 755px){
	.toggler{
		display: block;
	}
} 

.nav-links{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 92vh;
	transform: translateX(100%);
	background-color: gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.toggler div{

	background-color: rgb(230, 255, 255);
	width: 48px;
	height: 8px;
	margin: 5px;
}
